<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden="true" type="submit" value="Sign Out"/>
  </form>
<!--  <a class="animation" href="/"><h3 class="float-md-start mb-0  text-white"><span style="color: #fbb834">Office</span>Rent</h3></a>-->
<!--  <nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<!--    <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="/"><img th:src="@{'/img/logo.png'}"></a>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--    <a class="nav-link active" aria-current="page" href="/">Главная</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--    <a class="nav-link" href="/about">О проекте</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    <a sec:authorize="isAnonymous()" class="nav-link">-->
<!--      <div class="btn-group" role="group" aria-label="Basic example">-->
<!--        <a href="/login" class="btn btn-md btn-secondary fw-bold border-white bg-white">Войти</a>-->
<!--        <a href="/registration" class="btn btn-md btn-secondary fw-bold border-white bg-white">Зарегистрироваться</a>-->
<!--      </div>-->
<!--    </a>-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--    <ul class="navbar-nav nav mx-3">-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkUser1" role="button"-->
<!--           data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">-->
<!--        </a>-->
<!--        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUser">-->
<!--          <li><a class="dropdown-item" href="/personal">Личный кабинет</a></li>-->
<!--          <li><a class="dropdown-item" href="javascript: document.logoutForm.submit()"> Выход</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--    </div>-->
<!--  </nav>-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img th:src="@{'/img/logo.png'}" width="50%" height="50%s"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">О проекте</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/login" class="btn btn-md btn-secondary fw-bold border-white bg-white">Войти</a>
                    <a href="/registration" class="btn btn-md btn-secondary fw-bold border-white bg-white">Зарегистрироваться</a>
                  </div>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav nav mx-3">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkUser1" role="button"
                         data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
                        <li><a class="dropdown-item" href="/personal">Личный кабинет</a></li>
                        <li><a class="dropdown-item" href="javascript: document.logoutForm.submit()"> Выход</a></li>
                      </ul>
                    </li>
                  </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div th:fragment="header-into" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden="true" type="submit" value="Sign Out"/>
  </form>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img th:src="@{'/img/logo.png'}" width="50%" height="50%s"></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/personal">Личный кабинет</a>
          </li>
          <li class="nav-item" sec:authorize="hasRole('ADMIN_ROLE')">
              <a href="/admin" class="nav-link">Управление</a>
          </li>
          <li class="nav-item" sec:authorize="hasAnyRole('ADMIN_ROLE','MANAGER_ROLE')">
              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Офисы</a>
          <ul class="dropdown-menu">
              <li><a href="/registration/office" class="dropdown-item">Добавление офиса</a></li>
            <li><a href="/officeDetails/change" class="dropdown-item">Редактирование офиса</a></li>
          </ul>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav nav mx-3">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
                  <li><a class="dropdown-item" href="javascript: document.logoutForm.submit()"> Выход</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>