<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden="true" type="submit" value="Sign Out"/>
  </form>
<!--  <a class="animation" href="/"><h3 class="float-md-start mb-0  text-white"><span style="color: #fbb834">Office</span>Rent</h3></a>-->
  <a class="animation" href="/"><h3 class="float-md-start mb-0  text-white"><img th:src="@{'/img/logo.png'}" height="50%" ></h3></a>
  <nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link active" aria-current="page" href="/">Главная</a>
    <a class="nav-link" href="/about">О проекте</a>
    <a sec:authorize="isAnonymous()" class="nav-link">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/login" class="btn btn-md btn-secondary fw-bold border-white bg-white">Войти</a>
        <a href="/registration" class="btn btn-md btn-secondary fw-bold border-white bg-white">Зарегистрироваться</a>
      </div>
    </a>
    <div sec:authorize="isAuthenticated()">
    <ul class="navbar-nav nav mx-3">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkUser1" role="button"
           data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUser">
          <li><a class="dropdown-item" href="/personal">Личный кабинет</a></li>
          <li><a class="dropdown-item" href="javascript: document.logoutForm.submit()"> Выход</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </nav>
</div>

<nav th:fragment="header-into" class="navbar navbar-expand navbar-dark bg-dark" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="container">
    <a class="d-flex navbar-brand" href="/personal">
      <p class="m-0 p-0" style="color: #ffa53a"> Task <span style="color: white">Manager</span></p>
    </a>
    <ul class="navbar-nav  me-auto nav mx-4">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/personal">Главная</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          Задачи
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/task">Все мои задачи</a></li>
          <li><a sec:authorize="hasAnyRole('ROLE_EDITOR','ROLE_ADMIN')" class="dropdown-item" href="/task/author">Для автора</a></li>
          <li><a class="dropdown-item" href="/task/executor">Для исполнители</a></li>
          <li><a class="dropdown-item" href="/task/observer">Для наблюдателя</a></li>
          <li><a class="dropdown-item" href="/task/wait">Ждет ответа</a></li>
          <li><a class="dropdown-item" href="/task/close">Закрыто</a></li>
        </ul>
      </li>
    </ul>
    <a sec:authorize="hasAnyRole('ROLE_EDITOR','ROLE_ADMIN')" href="/creatTask" class="btn btn-warning text-white" style="font-weight: bold; background: #d59b0e; text-shadow: black 2px 0px 5px">Создать заказ</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" class="ms-4" href="/setting" style="color: white"><i style="font-size: 1.8rem" class="bi bi-gear-wide-connected"></i></a>
    <ul class="navbar-nav nav mx-3">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkUser" role="button"
           data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUser">
          <li><a class="dropdown-item" href="/logout">Выход</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
